/* ADVERTISEMENT START */
.advertisement {
  background-image: url("../Images/topHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.advertisement p,
.advertisement button{
  font-family: sans-serif !important;
}
/* ADVERTISEMENT END */

/* MAIN BANNER START */
.main_banner {
  background-image: url("../Images/HomePage3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* MAIN BANNER END */

/* ABOUT START */
.upcomingShow {
  background-image: url("../Images/Background-Special.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about {
  background-image: url("../Images/homebio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.joinComunity {
  background-image: url("../Images/Background-Special.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.winnerCircle {
  background-image: url("../Images/homebio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}
/* ABOUT END */

/* SOCIAL MEDIA START */
.social {
  background-image: url("../Images/Background-Special.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.iconContainer {
  background-color: #ffffff;
  background-image: url("../Images/stay_connected.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



/* SOCIAL MEDIA END */

/* Extra Small (XS) screens */
@media (min-width: 320px) {
  .aboutImageBox {
    height: 250px;
  }
  .about_image {
    width: 220px;
    left: calc(50% - 220px / 2);
  }
  .winnerCircle {
    height: 500px;
  }
  .winCircle {
    width: 100%;
    scale: 1.4;
    top: 100px;
  }
  .winSubCircle1 {
    border-radius: 50%;
    width: 300px;
    left: calc(50% - 300px / 2);
    top: 140px;
  }
  .winSubCircle2 {
    border-radius: 50%;
    width: 225px;
    left: calc(50% - 225px / 2);
    top: 178px;
  }
  .exclusiveCircle {
    width: 150px;
    height: 150px;
    left: calc(50% - 150px / 2);
    border-radius: 50%;
    top: 215px;
  }

  .exclusiveCircle:hover div .circleLayer{
    background-color: rgba(0, 0, 0, 0.5);
  }

  .lockBox{
    opacity: 0;
    transition: 0.2s linear;
  }

  .exclusiveCircle:hover div .lockBox{
    opacity: 1;
  }
  
  .exclusiveCircle span {
    font-size: 12px;
    padding: 0 20px;
  }
  .iconContainer {
    padding: 30px 0;
    gap: 16px;
  }
  .iconContainer div span {
    display: none;
  }
  .social {
    padding: 20px 12px;
  }
}

/* Small (SM) screens */
@media (min-width: 375px) {
  .aboutImageBox {
    height: 300px;
  }
  .aboutImage {
    width: 270px;
    left: calc(50% - 270px / 2);
    bottom: -62px;
  }
  .winCircle {
    scale: 1.3;
    top:80px;
  }
}

/* Medium (MD) screens */
@media (min-width: 425px) {
  .aboutImageBox {
    height: 330px;
  }
  .aboutImage {
    width: 300px;
    left: calc(50% - 300px / 2);
  }
  .winnerCircle {
    height: 510px;
  }
  .winCircle {
    scale: 1.1;
    top:60px;
  }
}

/* Large (LG) screens */
@media (min-width: 576px) {
  .aboutImageBox {
    height: 480px;
  }
  .aboutImage {
    width: 420px;
    left: calc(50% - 420px / 2);
  }
  .winnerCircle {
    height: 600px;
  }
  .winCircle {
    top: 60px;
  }
  .winSubCircle1 {
    width: 350px;
    left: calc(50% - 350px / 2);
    top: 180px;
  }
  .winSubCircle2 {
    width: 270px;
    left: calc(50% - 270px / 2);
    top: 220px;
  }
  .exclusiveCircle {
    width: 180px;
    height: 180px;
    left: calc(50% - 180px / 2);
    top: 265px;
  }
  .iconContainer {
    gap: 32px;
  }
  .exclusiveCircle span {
    font-size: 18px;
    padding: 0 40px;
  }
}

/* Extra Large (XL) screens */
@media (min-width: 640px) {
  .winnerCircle {
    height: 570px;
  }
  .winCircle {
    scale: 1;
    top:20px;
  }
  .winSubCircle1 {
    width: 350px;
    left: calc(50% - 350px / 2);
    top: 160px;
  }
  .winSubCircle2 {
    width: 270px;
    left: calc(50% - 270px / 2);
    top: 200px;
  }
  .exclusiveCircle {
    top: 245px;
  }
  .iconContainer {
    gap: 50px;
    padding: 45px 0;
  }
}

/* 2XL screens */
@media (min-width: 768px) {
  .aboutImageBox {
    height: 600px;
  }
  .aboutImage {
    width: 520px;
    left: calc(50% - 520px / 2);
  }
  .winCircle {
    scale: 0.8;
    top:-60px;
  }
  .exclusiveCircle span {
    font-size: 22px;
    padding: 0 60px;
  }
}

/* 3XL screens */
@media (min-width: 992px) {
  .winnerCircle {
    height: 745px;
  }
  .winCircle {
    scale: 1;
    width: 868px;
    left: calc(50% - 868px / 2);
    top:0px;
  }
  .winSubCircle1 {
    width: 500px;
    left: calc(50% - 500px / 2);
    top: 180px;
  }
  .winSubCircle2 {
    width: 350px;
    left: calc(50% - 350px / 2);
    top: 255px;
  }
  .exclusiveCircle {
    width: 200px;
    height: 200px;
    left: calc(50% - 200px / 2);
    top: 330px;
  }
  .iconContainer div {
    width: 200px;
    padding: 5px 10px;
  }
  .iconContainer div span {
    display: inline;
  }
  .iconContainer {
    gap: 16px;
    padding: 120px 0;
  }
  .social {
    padding: 60px 30px;
  }
}

/* 4XL screens */
@media (min-width: 1200px) {
  .aboutImageBox{
    height: auto;
    position: relative;
  }
  .aboutImage {
    width: 625px;
    left: calc(50% - 625px / 2);
    bottom: 62px;
    scale: 1.38;
  }
  .iconContainer div {
    width: 200px;
    padding: 10px 20px;
  }
}

/* 5XL screens */
@media (min-width: 1400px) {
  .aboutImage {
    width: 625px;
    left: calc(50% - 625px / 2);
    bottom: -20px;
    scale: 1.11;
  }
}

/* 6XL screens */
@media (min-width: 1536px) {
}
