.responsive-text {
  font-size: 20px;
}

.responsive-image {
  position: absolute;
  bottom: 0px;
  left: 16px;
  z-index: 5 !important;
}

.bioStory{
  background-image: url("../Images/Background-Special.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bioStoryImage{
  height: 350px;
}

.motiv {
  background-image: url("../Images/homebio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.motivList li{
  display: flex;
}

.hide {
  opacity: 0;
}

.visible {
  /* display: inline; */
  opacity: 1;
}

.passion {
  background-image: url("../Images/Background-Special.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.followSocialMedia {
  background-image: url("../Images/homebio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Extra Small (XS) screens */
@media (min-width: 320px) {
  .motivList li{
    font-size: 20px;
  }
}

/* Small (SM) screens */
@media (min-width: 375px) {
  .responsive-text {
    font-size: 24px;
  }
  .bioStoryImage{
    height: 400px;
  }
  .responsive-image {
    left: 32px;
  }
}

/* Medium (MD) screens */
@media (min-width: 425px) {
  .responsive-text {
    font-size: 28px;
  }
  .bioStoryImage{
    height: 450px;
  }
  .responsive-image {
    left: 48px;
  }
}

/* Large (LG) screens */
@media (min-width: 576px) {
  .responsive-text {
    font-size: 36px;
  }
  .bioStoryImage{
    height: auto;
  }
  .motivList li{
    font-size: 18px;
  }
  .responsive-image {
    left: 0px;
    bottom: 222px;
    opacity: 0.4;
    scale: 1.7;
    z-index: -1;
  }
}

/* Extra Large (XL) screens */
@media (min-width: 640px) {
  .responsive-text {
    font-size: 40px;
  }
  .motivList li{
    font-size: 20px;
  }
  .responsive-image {
    bottom: 172px;
    scale: 1.5;
  }
}

/* 2XL screens */
@media (min-width: 768px) {
  .responsive-text {
    font-size: 44px;
  }
  .motivList li{
    font-size: 20px;
  }
  .responsive-image {
    bottom: 42px;
    scale: 1.1;
  }
}

/* 3XL screens */
@media (min-width: 992px) {
  .responsive-text {
    font-size: 34px;
  }
  .motivList li{
    font-size: 20px;
  }
  .responsive-image {
    bottom: 102px;
    left: 296px;
    scale: 1.38;
    z-index: -1;
  }
}

/* 4XL screens */
@media (min-width: 1200px) {
  .responsive-text {
    font-size: 40px;
  }
  .responsive-image {
    bottom: 262px;
    left: 0px;
    opacity: 1;
    scale: 1.8;
  }
}

/* 5XL screens */
@media (min-width: 1400px) {
  .responsive-image {
    bottom: 172px;
    left: 0px;
    scale: 1.44;
  }
  .motivList li{
    font-size: 24px;
  }
}

/* 6XL screens */
@media (min-width: 1536px) {
}