.reprogram_banner {
  background-image: url("../Images/Background-Special.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bootcampTools,
.changeThoughts {
  background-image: url("../Images/homebio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}
