.shop_banner {
  background-image: url("../Images/shop/Shop-Hero-PC.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.championVentures {
  background-image: url("../Images/homebio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.shopCollectionBox{
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 0px 10px 20px -1px,  rgb(0, 0, 0) 0px -2px 6px 0px inset;
}